.main-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #7f00ff;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.cta-button-container {
  margin-top: 20px;
}

.cta-button {
  background-color: #7f00ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #5e00cc;
}
